!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title UP PDTS
    / Bootstrap core CSS
    %link{:href => "vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    / Custom fonts for this template
    %link{:href => "vendor/font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    / Custom styles for this template
    %link{:href => "css/sb-admin.css", :rel => "stylesheet"}/
  %body.bg-dark
    .container
      .card.card-login.mx-auto.mt-5
        .card-header Reset Password
        .card-body
          .text-center.mt-4.mb-5
            %h4 Forgot your password?
            %p Enter your email address and we will send you instructions on how to reset your password.
          %form
            .form-group
              %input#exampleInputEmail1.form-control{"aria-describedby" => "emailHelp", :placeholder => "Enter email address", :type => "email"}/
            %a.btn.btn-primary.btn-block{:href => "/log_user"} Reset Password
          .text-center
            %a.d-block.small.mt-3{:href => "/create_account"} Register an Account
            %a.d-block.small{:href => "/log_user"} Login Page
    / Bootstrap core JavaScript
    %script{:src => "vendor/jquery/jquery.min.js"}
    %script{:src => "vendor/bootstrap/js/bootstrap.bundle.min.js"}
    / Core plugin JavaScript
    %script{:src => "vendor/jquery-easing/jquery.easing.min.js"}
