!!!
/
  Industrious by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "favicon.ico", :rel => "shortcut icon"}/
    %title UP PDTS
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    %link{:href => "assets/css/main.css", :rel => "stylesheet"}/
  %body.is-preload
    / Header
    %header#header
      %a.logo{:href => "/"}
      %nav
        %a{:href => "/login"} Log-in
        %a{:href => "/create_account"} Sign-up
        %a{:href=> root_path << 'UserManualPDTS.pdf', :target => :_blank} Manual
    / Banner
    %section#banner
      .inner
        %img.img-valign{:alt => "", :src => "/images/up.png"}/
        %img.img-valign{:alt => "", :src => "/images/upv.png"}/
        %p
          %span.text1
          University of the Philippines Visayas
          %br
          TACLOBAN COLLEGE
        %h1
          %b Physical Document Tracking System
      %video{:autoplay => "", :loop => "", :muted => "", :playsinline => "", :src => "/images/banner.mp4"}
    / Footer
    %footer#footer
      .inner
        .copyright
          © Pards Duo, 2018
          %div
            Faith Cerena  &amp;
            Christopher Jan E. Riños
    / Scripts
    %script{:src => "assets/js/jquery.min.js"}
    %script{:src => "assets/js/browser.min.js"}
    %script{:src => "assets/js/breakpoints.min.js"}
    %script{:src => "assets/js/util.js"}
    %script{:src => "assets/js/main.js"}