!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title UP PDTS
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "Free HTML5 Website Template by uicookies.com", :name => "description"}/
    %meta{:content => "free bootstrap 4, free bootstrap 4 template, free website templates, free html5, free template, free website template, html5, css3, mobile first, responsive", :name => "keywords"}/
    %meta{:content => "uicookies.com", :name => "author"}/
    %link{:href => "favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Raleway", :rel => "stylesheet"}/
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "css/open-iconic-bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "css/icomoon.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.probootstrap-navabr-dark
      .container
        %a
          %img.navbar-brand{:src => "images/up.png", :style => "width:70px;height:77px;"}/
        %a
          %img.navbar-brand{:src => "images/upv.png", :style => "width:70px;height:77px;"}/
        %button.navbar-toggler{"aria-controls" => "probootstrap-nav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#probootstrap-nav", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        #probootstrap-nav.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            %li.nav-item
              %a.nav-link{:href => root_path << 'UserManualPDTS.pdf', :target => :_blank} User Manual
            %li.nav-item.probootstrap-cta.probootstrap-seperator
              %a.nav-link{:href => "/login"} Log In
            %li.nav-item.probootstrap-cta
              %a.nav-link{:href => "/create_account"} Sign up
    %section.probootstrap-cover
      .container
        .row.probootstrap-vh-100.align-items-center.text-center
          .col-sm
            .probootstrap-text
              %h1.probootstrap-heading.text-white.mb-4 Physical Document Tracking System
              .probootstrap-subheading.mb-5
                %p.h4.font-weight-normal University of the Philippines Visayas Tacloban
    %script{:src => "js/jquery-3.2.1.slim.min.js"}
    %script{:src => "js/popper.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/main.js"}
