!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Phyiscal Document Tracking System
    / Bootstrap core CSS
    %link{:href => "vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    / Custom fonts for this template
    %link{:href => "vendor/font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    / Custom styles for this template
    %link{:href => "css/sb-admin.css", :rel => "stylesheet"}/
  %body.bg-dark
    .container
      .card.card-register.mx-auto.mt-5
        .card-header Via UP Mail
        .card-body
          - if flash[:error]
            .alert.alert-danger.alert-dismissible.show.fade{"data-auto-dismiss" => "1000", :role => "alert"}
              %a.close{"aria-label" => "close", "data-dismiss" => "alert", :href => "#"} ×
              %b.notice= flash[:error]
          .form-validation
            %form.form-valide{:action => "redirect_acct", :method => "post", :name => "create_account"}
              .form-group
                %label{:for => "jobtitle"}
                  Job Title
                  %span.text-danger *
                %select#jobtitle.form-control{:name => "job_title", :required => 'required'}
                  - @job_title.each do |job|
                    %option{:value => job.name}
                      %td= job.name
              .form-group
                %label{:for => "phone"}
                  Contact Number
                  %span.text-danger *
                %input#phone.form-control{:required =>"required", :name => "phone", :placeholder => "+639xxxxxxxxx", :type => "text"}/
              %button.btn.btn-primary.btn-block{:type => "submit"} Continue
          .text-center
            %a.d-block.small.mt-3{:href => "/login"} Login Page
            %a.d-block.small{:href => "/"} Back to Homepage
    / Bootstrap core JavaScript
    %script{:src => "vendor/jquery/jquery.min.js"}
    %script{:src => "vendor/bootstrap/js/bootstrap.bundle.min.js"}
    / Core plugin JavaScript
    %script{:src => "vendor/jquery-easing/jquery.easing.min.js"}
    / Form validation
    %script{:src => "js/lib/form-validation/jquery.validate.min.js"}
    %script{:src => "js/lib/form-validation/jquery.validate-init.js?v=1"}
